/*-----------------------------------------------------------------Navbar---------------------------------*/

.nav-headers {    
    overflow: hidden;
    position: fixed;
    top: 0; 
    width: 100%;
    z-index: 999;
}

.monkees-home {
    margin:0;
    padding:0;
    background: #d72235 url("../assets/images/themonkees.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: solid 1px #fff;
    display: flex;
    min-height: 75px;
}

.the-band {
    background-color: #d72235;
    min-height:  75px;
    border: solid 1px #fff;
    color: #ffcc00;
    display: flex;
    padding-left: 45px;
    align-items: center;
    font-family: "lobster", cursive;
    font-size: 3em;
}

.the-music {
    background-color: #d72235;
    min-height:  75px;
    border: solid 1px #fff;
    color: #ffcc00;
    display: flex;
    padding-left: 45px;
    align-items: center;
    font-family: "lobster", cursive;
    font-size: 3em;
}

.book-the-band {
    background-color: #d72235;
    min-height:  75px;
    border: solid 1px #fff;
    color: #ffcc00;
    display: flex;
    padding-left: 45px;
    align-items: center;
    font-family: "lobster", cursive;
    font-size: 3em;
}

/*-----------------------------------------------------------------Homepage---------------------------------*/

.index-main-background {
    margin-top:  75px;
    background: #ff6600 url("../assets/images/monkees.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 500px;
}

/*-----------------------------------------------------------------The Band----------------------------------*/



/*-----------------------------------------------------------------The Music---------------------------------*/

.themusic-main-background {
    margin-top: 75px;
    background-color: #ff6600;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 450px;
}

.video {
    margin-top: 20px;
    margin-left: -10px;
    padding:10px;
    text-align: center;
    font-family: "lobster", cursive;
    font-size: 20px;
    color: #fff;
}

.audio {
    margin: 0px;
    padding-top: 10px;
    padding-left: 200px;
}

.controls {
    display:inline-block;
    background-color: #ff6600;

}

.songtitle {
    text-align: center;
    font-family: "lobster", cursive;
    font-size: 20px;
    color: #fff;
}

/*-----------------------------------------------------------------Book The Band-----------------------------*/



/* ----------------------------------------------------------------Footer------------------------------------*/

.footer-bar p {
    background-color: #d72235;
    height: 75px;
    color: #ffcc00;
    display: flex;
    margin:0;
    padding-left: 200px;
    align-items: center;
    font-family: "lobster", cursive;
    font-size: 3em
}

.social-link {
    margin-left:50px;
}

.fa {
    color:#ffcc00;
}

.fa:hover {
    color: #fff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
